<h1> my pages </h1>

<ul>
<li><%= link_to 'amarababu277', amarababu277_path %></li>
<li><%= link_to 'widowvision', widowvision_path %></li>
<li><%= link_to 'mikelombardi4332', mikelombardi4332_path %></li>
</ul>
